<div id="content">
  <h1>Info:</h1>
</div>
<div class="grid">
  <figure class="effect-hera">
    <img src="../assets/img/yo.jpg" alt="imgyo" />
    <figcaption>
      <h2>Sobre <span>MI</span></h2>
      <p>
        <a href="../assets/curriculo/CV_Marcos_Llumiquinga.pdf" download><i class="fa fa-fw fa-file-pdf-o"></i></a>
        <a href="https://www.instagram.com/maurodeltoro/" target="_blank"><i class="fa fa-fw fa-file-image-o"></i></a>
        <a href="#"><i class="fa fa-fw fa-file-archive-o"></i></a>
        <a href="https://github.com/mllumiquinga194?tab=repositories" target="_blank"><i class="fa fa-fw fa-file-code-o"></i></a>
      </p>
    </figcaption>
  </figure>
  <figure class="effect-apollo">
    <img src="../assets/img/18.jpg" alt="img18" />
    <figcaption>
      <h2>Marcos <span>Llumiquinga</span></h2>
      <p>
        <mat-toolbar-row>
          <span>+58-4128373552 Contactame</span>
          <span class="example-spacer"></span>
          <mat-icon (click)="favorite = favorite + 1" matBadgePosition="above" matBadge="{{favorite}}" class="example-icon">favorite_border</mat-icon>
        </mat-toolbar-row>
      </p>
    </figcaption>
  </figure>
</div>
<div class="grid">
  <div class="legend">
    <div id="content">
      <h1>Habilidades:</h1>
    </div>
    <div class="skills">
      <ul>
        <li class="angular">NODE</li>
        <li class="node">ANGULAR</li>
        <li class="mongo">MONGO</li>
        <li class="php">PHP</li>
        <li class="sql">MySQL</li>
      </ul>
    </div>
  </div>
  <div id="diagram"></div>
  <div class="get">
      <div class="arc">
        <span class="text">NODE</span>
        <input type="hidden" class="percent" value="70" />
        <input type="hidden" class="color" value="#97BE0D" />
      </div>
      <div class="arc">
        <span class="text">ANGULAR</span>
        <input type="hidden" class="percent" value="75" />
        <input type="hidden" class="color" value="#D84F5F" />
      </div>
      <div class="arc">
        <span class="text">MONGO</span>
        <input type="hidden" class="percent" value="70" />
        <input type="hidden" class="color" value="#88B8E6" />
      </div>
      <div class="arc">
        <span class="text">PHP</span>
        <input type="hidden" class="percent" value="60" />
        <input type="hidden" class="color" value="#BEDBE9" />
      </div>
      <div class="arc">
        <span class="text">MySQL</span>
        <input type="hidden" class="percent" value="80" />
        <input type="hidden" class="color" value="#ac6baa" />
      </div>
  </div>
</div>