    <!-- Related demos -->
    <section class="related">
        <div id="content">
          <h1>Sobre Mi:</h1>
        </div>
        <p>El motivo de desarrollar esta Web es para poner en práctica los conocimientos obtenidos. Sinceramente me
          cuesta un poco comenzar a trabajar pero una vez puesto en marcha, no hay quien me detenga. Mi motivación es
          explotar los conocimientos, entendí que a mis 27 años, ya no me queda el tiempo suficiente para aprender todo
          lo que desearía por eso en este momento estoy dedicando parte de mi tiempo a aprender MEAN Stack con
          aplicaciones sencillas pero aplicando las bases para dominar estas herramientas. Aquí puedes ver algunos
          ejemplos de estas aplicaciones: <a href="https://musicapp-ca291.firebaseapp.com/">MusicApp</a> parecido a
          Spotify es una aplicación donde podrás encontrar todas tus canciones favoritas, <a href="https://ingreso-egreso-app-dda46.firebaseapp.com/">Ingreso
            y Egreso</a> es una aplicación para llevar un control de tus ingresos y saber a donde fue a parar tu dinero,
          aquí se aplica Angular, REDUX, Firebase, entre otros.. La tipica aplicacion de <a href="https://mllumiquinga194.github.io/Todo/">Tareas
            por Hacer</a> pero esta versión esta desarrollada bajo el patrón REDUX. Mi sala de <a href="https://marcos-chat-sockets.herokuapp.com/">chat</a>
          favorita, desarrollada con socket.io en NODEjs. y por último, el mejor <a href="https://sockets-colas.herokuapp.com/">
            Simulador de cola de Bancos.</a>igual desarrollada con socket.io en NODEjs, funciona perfectamente, lista
          para poner en producción.</p>
  
        <p><strong>Si te gusta alguna, hazmelo saber, deja tu LIKE:</strong></p>
        <a href="https://github.com/mllumiquinga194?tab=repositories" target="_blank">
          <img src="../assets/img/GitHub-Octocat.jpg" />
          <h3>Mis Repositorios</h3>
        </a>
        <a href="https://www.linkedin.com/in/marcos-andr%C3%A9-llumiquinga-therman-053044167/" target="_blank">
          <img src="../assets/img/dt.common.streams.StreamServer.jpg" />
          <h3>LinkedIn</h3>
        </a>
      </section>